  <section class="container">
        <div class="row no-gutters">
            <aside class="sidebar col-md-3">
                <div class="category">
                    <h2 class="category__title">Ghế</h2>
                    <div class="category__container">
                        <ul class="category__list">
                            {{#each categories}}
                                <li class="category__item"><a href="/products?categories={{this.name}}">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <h2 class="category__title">Màu sắc</h2>
                    <div class="category__container">
                        <ul class="color">
                            <li class="color__item">red</li>
                            <li class="color__item">green</li>
                            <li class="color__item">blue</li>
                            <li class="color__item">yellow</li>
                            <li class="color__item">pink</li>
                        </ul>
                    </div>
                    <h2 class="category__title">Chất liệu</h2>
                    <select name="pattern" id="pattern">
                        <option value="" selected>Tất cả</option>
                        <option value="">Gỗ</option>
                        <option value="">Kim loại</option>
                    </select>
                    <h2 class="category__title">Giá</h2>
                    <div class="category__container">
                        <input type="number" min="0" placeholder="Tối thiểu" value="" pattern="[0-9]*">
                        <input type="number" min="0" placeholder="Tối đa" value="" pattern="[0-9]*">
                        <button class="btn-2">Tìm</button>
                    </div>
                </div>
            </aside>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        <div class="search-wrapper">
                            <input type="text" class="search" placeholder="Nhập tên sản phẩm cần tìm">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select name="sort" id="sort" class="sort">
                            <option value="" selected>Sắp xếp</option>
                            <option value="">Giá từ thấp đến cao</option>
                            <option value="">Giá từ cao đến thấp</option>
                        </select>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row no-gutters">
                        {{#each products}}
                        {{!-- {{{log this}}} --}}
                            <div class="col-md-4 product">
                                <figure>
                                    <a href="products/{{this._id}}">
                                        <img class="product__image" src="{{this.thumbnail}}" alt="">
                                    </a>
                                    <figcaption class="product__info text-center">
                                        <p class="product__name">{{this.name}}</p>
                                        <p class="product__old-price">{{this.oldPrice}}</p>
                                        <p class="product__price">{{this.price}}</p>
                                    </figcaption>
                                </figure>
                                <div class="text-center">
                                    <a href="products/{{this._id}} class="btn">MUA NGAY</a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>